{% block sonata_security_roles_widget %}
{% spaceless %}
<div class="body table-responsive no-padding">
	<table class="table table-bordered">
		<tbody>
		<tr>
			<td>
		    <div class="editable">
		        {{ block('choice_widget') }}
		    </div>
		    {% if read_only_choices|length > 0 %}
		    <div class="readonly">
		        <ul>
		        {% for choice in read_only_choices %}
		            <li>{{ choice }}</li>
		        {% endfor %}
		        </ul>
		    </div>
		    {% endif %}
			</td>
		</tr>
		</tbody>
	</table>
</div>
{% endspaceless %}
{% endblock sonata_security_roles_widget %}
