/*
 * Bootstrap Components
 * --------------------
 */
.panel {
    border-radius: 0px;
}

.btn {
    border-radius: 0px;
}

.navbar {
    border-radius: 0px;
    border: 0px;
    border-top: 3px solid #3c8dbc;
}

.well {
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.popover {
    border-radius: 0px;
}

.popover-title {
    border-radius: 0px;
    background-color: #3c8dbc;
    color: #ffffff;
}

.modal-body .row {
    margin-right: 0px;
    margin-left: 0px;
}

.modal-body .well {
    margin-bottom: 0px;
}

.modal-body .rz-table-footer {
    padding-left: 0px;
    padding-right: 0px;
}

.box-footer {
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.box-body {
    border-radius: 0px;
}

.bootstrap-datetimepicker-widget, .bootstrap-datetimepicker-widget td span,
.bootstrap-datetimepicker-widget td, .bootstrap-datetimepicker-widget th{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.bootstrap-datetimepicker-widget.timepicker-sbs {
    padding: 10px;
}

.bootstrap-datetimepicker-widget .timepicker {
    padding-left: 5px;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="search"], input[type="url"], input[type="password"], .ui-autocomplete-input, textarea, .uneditable-input {
    border-radius: 0px;
}

.input-group.date > .input-group-addon {
    width: 1%;
}

/*
 * Select2 Flat
 * ------------
 */

.select2-container .select2-choice {
    height: 34px; /* Jobsy form controls have 37px total height */
    border: 1px solid #bdc3c7;
    border-radius: 6px;
    outline: none;
    color: #34495e;

    /* important - to keep height always as constant */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* reset gradient */
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

    -webkit-transition: border-color .25s;
    -moz-transition: border-color .25s;
    -ms-transition: border-color .25s;
    -o-transition: border-color .25s;
    transition: border-color .25s;
}

.select2-container.select2-allowclear .select2-choice .select2-chosen,
.select2-container .select2-choice>.select2-chosen {
    height: 30px;
    margin-top: 3px;
}



/* active state */
.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
    border-color: #3c8dbc;

    /* reset shadow */
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* container state, when dropdown open */
.select2-dropdown-open .select2-choice {
    border-bottom: none;
    border-radius: 6px 6px 0 0;
    padding-bottom: 2px;
    background-color: #fff;

    /* reset shadow */
    -webkit-box-shadow: none;
    box-shadow: none;

    /* reset gradient */
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

/* container state, when dropup open */
.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
    border: 1px solid #3c8dbc;
    border-radius: 0 0 6px 6px;
    padding-bottom: 0;
    border-top: none;
    padding-top: 2px;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

/* disabled state */
.select2-container.select2-container-disabled .select2-choice {
    background-color: #f4f6f6;
    border: 1px solid #d5dbdb;
    color: #d5dbdb;
    cursor: default;
}

/*-------------------------------------- X-icon (which clears selected result) ---------------------------------------*/
.select2-container .select2-choice abbr {
    top: 10px;
}

.select2-container-active.select2-drop-above .select2-choice abbr {
    top: 10px;
}

/*---------------------------------------------------- Down-arrow ----------------------------------------------------*/
.select2-container .select2-choice .select2-arrow {
    width: 22px;
    height: 27px;
    top: 3px;
    border: none;
    background: #fff;

    /* reset gradient */
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.select2-dropdown-open.select2-drop-above .select2-choice .select2-arrow {
    top: 3px;
}

/*----------------------------------------------------- Dropdown -----------------------------------------------------*/
/* dropdown with options */
.select2-drop {
    -webkit-transition: border-color .25s;
    -moz-transition: border-color .25s;
    -ms-transition: border-color .25s;
    -o-transition: border-color .25s;
    transition: border-color .25s;

    /* reset shadow */
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* dropup (case, when there is not enough space below the field) */
.select2-drop.select2-drop-above {
    /* reset shadow */
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* active dropdown */
.select2-drop-active {
    border: 1px solid #3c8dbc;
    border-top: none;
    border-radius: 0 0 6px 6px;
}

/* active dropup */
.select2-drop.select2-drop-above.select2-drop-active {
    border-top: 1px solid #3c8dbc;
    border-radius: 6px 6px 0 0;
}

.select2-results .select2-result {
    color: #34495e;
}

.select2-results .select2-highlighted {
    background-color: #3c8dbc;
    color: #fff;
}

/* help-text line */
.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
    background: #fff;
    font: 15px/38px "Lato", Liberation Sans, Arial, sans-serif;
    color: #34495e;
}

/* "loading more results" message */
/*.select2-more-results.select2-active {*/
    /*background: #f4f4f4 url('select2-spinner.gif') no-repeat 100%;*/
    /*padding: 4px 7px;*/
/*}*/

/* input in dropdown */
.select2-search input {
    background: transparent;
    color: #34495e;
}

/* jquery-ui */

.datepicker table tr td span {
    border-radius: 0px;
}

/* sonata admin */
.field-short-description {
    margin: 0px;
    min-height: 34px;
    border-radius: 0px;
}

.sonata-ba-field-list-natural .field-actions {
    display: block;
}

.sonata-ba-field-list-natural .field-actions .btn-group {
    margin-top: 10px;
}

.select2-container-multi.form-control {
    padding: 0px;
    border: 0px;
}

.select2-container-multi .select2-choices {
    background: none !important;
}

.select2-container-multi .select2-choices .select2-search-choice {
    border-radius: 0px;
    box-shadow: none;
    background-image: none;
    border: 0px;
    padding: 5px 5px 5px 18px;
}
.select2-container-multi .select2-search-choice-close {
    margin-top: 2px;
}

.select2-dropdown-open .select2-choice {
    background-image: none;
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
    box-shadow: none;
}

.select2-container-multi.select2-container-active .select2-choices {
    border: 1px solid #367fa9;
    box-shadow: none;
}

div.mosaic-inner-box {
    height: 150px;
}

.sonata-tree__item {
    border-radius: 0px;
}

.sonata-tree__item.is-active:before {
    border-width: 0px;
    margin-top: 0px;
}

.sonata-tree__item.is-active:after, .sonata-tree__item.is-active:before {
    position: static;
    border: 0px solid transparent;
    top: 0px;
    left: 0px;
}

/*----------------------------------------------- Retina displays fix ------------------------------------------------*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
    .select2-container .select2-choice abbr {
        margin-top: 1px;
    }

    .select2-container .select2-choice .select2-arrow {
        margin-top: 1px;
    }
}

/*
 * AdminLTE Component: Buttons
 * --------------------
 */

.btn-primary {
    border-color: #3c8dbc;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.hover {
    border-color: #367fa9;
}
.btn-success {
    border-color: #00a65a;
}
.btn-success:hover,
.btn-success:active,
.btn-success.hover {
    border-color: #008d4c;
}
.btn-info {
    border-color: #00c0ef;
}
.btn-info:hover,
.btn-info:active,
.btn-info.hover {
    border-colorcolor: #00acd6;
}
.btn-danger {
    border-color: #dd4b39;
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.hover {
    border-color: #d73925;
}
.btn-warning {
    border-color: #f39c12;
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.hover {
    border-color: #e08e0b;
}

/*
 * AdminLTE Component: Small Box
 * --------------------
 */
.small-box {
    border-radius: 0px;
}
/*
 * AdminLTE Component: Box
 * --------------
 */
.box {
    border-radius: 0px;
}

/*
 * Sonata Components
 * --------------
 */
.sonata-ba-list-field-header-batch-list {
    width: 35px;
}

.sonata-ba-list-field-header th,
.sonata-ba-list-field-header li a,
.footable-details th {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.editable-input .input-sm {
    padding: 0px;
    height: 33px
}

.editable-buttons .btn {
    height: 33px;
}

/*
 * Rz Components
 * --------------
 */

.rz-ba-list-field-header-mosaic {
    text-align: right;
}


table.rz-table-orm > tbody > tr > td.control-group {
    line-height: 30px;
}

table.rz-table-orm > tbody > tr > td.control-group > input[type="text"] {
    min-width: 200px;
}

/*.rz-pagination-primary >li>a {*/
    /*color: #fff;*/
    /*background-color: #367fa9;*/
    /*border-color: #3c8dbc;*/
/*}*/
/*.rz-pagination-info >li>a {*/
    /*color: #fff;*/
    /*background-color: #00c0ef;*/
    /*border-color: #00c0ef;*/
/*}*/
/*.rz-pagination-info>.active>a,*/
/*.rz-pagination-info>.active>a:focus,*/
/*.rz-pagination-info>.active>a:hover,*/
/*.rz-pagination-info>.active>span,*/
/*.rz-pagination-info>.active>span:focus,*/
/*.rz-pagination-info>.active>span:hover {*/
    /*background-color: #00acd6;*/
    /*border-color: #00acd6;*/
/*}*/
/*.rz-pagination-success >li>a {*/
    /*color: #fff;*/
    /*background-color: #00a65a;*/
    /*border-color: #008d4c;*/
/*}*/
/*.rz-pagination-danger >li>a {*/
    /*color: #fff;*/
    /*background-color: #d73925;*/
    /*border-color: #dd4b39;*/
/*}*/

/*.rz-pagination-warning >li>a {*/
    /*color: #fff;*/
    /*background-color: #e08e0b;*/
    /*border-color: #f39c12;*/
/*}*/

@media (max-width: 767px) {
    .rz-table-action-button {
        text-align: center;
    }
    .rz-table-footer {
        padding-top: 10px;
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
    }

    .rz-container-fluid, .rz-box-footer {
        padding-left: 0px;
        padding-right: 0px;
    }

    body.fixed .rz-list-table,
    .rz-list-table {
        margin-left: 0px;
        margin-right: 0px;
    }

    .form-horizontal .control-label {
        text-align: left;
    }

    .form-horizontal .rz-action-filter-field {
        text-align: right;
    }

    .form-horizontal .advanced-filter {
        padding-bottom: 10px;
    }

    .rz-ba-list-field-header-mosaic {
        text-align: left;
    }

    .rz-ba-list-field-header-mosaic .dropdown-menu-right {
        right: auto;
        left: 0;
    }

    .rz-ba-form-actions-bottom {
        text-align: center;
    }

    .modal-body .rz-col {
        padding-left: 0px;
        padding-right: 0px;
    }

    table.rz-table-orm > tbody > tr > td.control-group > input[type="text"] {
        min-width: 100px;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .rz-table-action-button {
        text-align: center;
    }
    .rz-table-footer {
        padding-top: 10px;
        text-align: center;
    }

    .form-horizontal .control-label {
        text-align: left;
    }

    .form-horizontal .rz-action-filter-field {
        text-align: right;
    }

    .form-horizontal .advanced-filter {
        padding-bottom: 10px;
    }

    .rz-ba-list-field-header-mosaic {
        text-align: right;
    }

    .rz-ba-list-field-header-mosaic .dropdown-menu-right {
        right: 0;
        left: auto;
    }

    .rz-ba-form-actions-bottom {
        text-align: center;
    }

    .modal-body .rz-container-fluid {
        padding-right: 0px;
        padding-right: 0px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .rz-table-action-button {
        text-align: left;
    }
    .rz-table-footer {
        text-align: right;
    }

    .form-horizontal .control-label {
        text-align: right;
    }

    .form-horizontal .rz-action-filter-field {
        text-align: center;
    }

    .form-horizontal .advanced-filter {
        padding-bottom: 0px;
    }

    .rz-ba-list-field-header-mosaic {
        text-align: right;
    }

    .rz-ba-list-field-header-mosaic .dropdown-menu-right {
        right: 0;
        left: auto;
    }

    .rz-ba-form-actions-bottom {
        text-align: left;
    }

    .modal-body .rz-container-fluid {
        padding-right: 0px;
        padding-right: 0px;
    }
}

@media (min-width: 1200px) {
    .rz-table-action-button {
        text-align: left;
    }
    .rz-table-footer {
        text-align: right;
    }

    .form-horizontal .control-label {
        text-align: right;
    }

    .form-horizontal .rz-action-filter-field {
        text-align: center;
    }

    .form-horizontal .advanced-filter {
        padding-bottom: 0px;
    }

    .rz-ba-list-field-header-mosaic {
        text-align: right;
    }

    .rz-ba-list-field-header-mosaic .dropdown-menu-right {
        right: 0;
        left: auto;
    }

    .rz-ba-form-actions-bottom {
        text-align: left;
    }

    .modal-body .rz-container-fluid {
        padding-right: 0px;
        padding-right: 0px;
    }
}